<template>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<span class="d-title">Avg. Reply Time</span>
					<span class="d-value">56.3<span class="d-unit">s</span></span>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<span class="d-title">My Assigned Tickets</span>
					<span class="d-value">24 <span class="d-unit">/</span> 56</span>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<span class="d-title">My Ticket Progress</span>
					<span class="d-value">85<span class="d-unit">%</span></span>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<span class="d-title">Rating</span>
					<span class="d-value"><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star-half-o"></i><i class="fa fa-fw fa-star-o"></i><i class="fa fa-fw fa-star-o"></i></span>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
	export default {

	}
</script>

<style scoped>
	.container {
		margin-top: 40px;
	}

	.d-title,
	.d-value {
		display: block;
		text-align: center;
	}

	.d-title {
		font-size: 12px;
	}

	.d-value {
		font-size: 32px;
		color: rgba(189,189,189 ,1);
	}

	.d-unit {
		font-size: 18px;
	}
</style>
