<template>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            User Accounts
        </div>
        <div class="panel-body">
            <i class="fa fa-fw fa-spin fa-bolt" v-if="isLoading"></i>
            <div  v-if="!isLoading">
            <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" @click="changetoAdd"><i class="fa fa-fw fa-plus"></i> Add New User</button>
            <table class="table table-condensed table-hover" style="margin-top: 15px;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th style="width: 100px;">Admin?</th>
                        <th style="width: 30px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users">
                        <td>
                            {{ user.name }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            <input type="checkbox" :checked="user.admin">
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    <i class="fa fa-chevron-down fa-fw"></i>
						  </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li><a href="#" @click="fetchUser(user.id, $event)" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Edit</a></li>
                                    <li><a href="#">Activate</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <form v-on:submit.prevent="addupdate">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" v-model="user.name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" v-model="user.email">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" v-model="user.password">
                        </div>

                        <div class="form-group">
                            <label for="confirmation">Confirmation Password</label>
                            <input type="confirmation" class="form-control" id="confirmation" placeholder="Confirmation password" v-model="user.confirmation">
                        </div>

                        <input type="hidden" v-model="add">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</template>

<script>
import {
    endpoints,
    getHeaders
} from '../../config'

export default {
    data() {
        return {
            isLoading: false,
            users: [],
            user: {
                id: 0,
                name: '',
                email: '',
                password: '',
                confirmation: '',
                active: false,
                admin: false
            },
            add: false
        }
    },
    created() {
        this.fetchUsers()
    },
    methods: {
        addupdate() {

            var self = this
            if (this.add) {
                axios.post(endpoints.UserServices.add,
                    self.user, {
                        headers: getHeaders()
                    }).then((response) => {
                    $('#myModal').modal('hide')

                    self.$notify({
                        message: "Succesfully add new user.",
                        type: 'success',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })

                    self.fetchUsers()
                }).catch((errors) => {
                    self.$notify({
                        message: "Error during adding new user.",
                        type: 'danger',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                });
            } else {
                axios.put(endpoints.UserServices.update + '/' + self.user.id,
                    self.user, {
                        headers: getHeaders()
                    }).then((response) => {
                    $('#myModal').modal('hide')

                    self.$notify({
                        message: "Succesfully update user.",
                        type: 'success',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })

                    self.fetchUsers()
                }).catch((errors) => {
                    self.$notify({
                        message: "Error during update user.",
                        type: 'danger',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                });
            }

        },
        fetchUsers() {
            var self = this
            self.isLoading = true

            axios.get(endpoints.UserServices.getAgents, {
                headers: getHeaders()
            }).then((response) => {
                self.users = response.data.agents
                self.isLoading = false
            }).catch((errors) => {
                self.isLoading = false
            })
        },
        fetchUser(id, e) {
            e.preventDefault()
            var self = this
            this.add = false
            this.user = {
                name: '',
                email: '',
                password: '',
                confirmation: '',
                active: false,
                admin: false
            }
            axios.get(endpoints.UserServices.getAgent + '/' + id, {
                headers: getHeaders()
            }).then((response) => {
                self.user.id = response.data.agent.id
                self.user.name = response.data.agent.name
                self.user.email = response.data.agent.email
                self.user.admin = response.data.agent.admin
            }).catch((errors) => {

            })
        },

        changetoAdd() {
            this.add = true
            this.user = {
                name: '',
                email: '',
                password: '',
                confirmation: '',
                active: false,
                admin: false
            }
        }
    }
}
</script>
