<template>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Clients
        </div>
        <div class="panel-body">
            <div class="row">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">All Clients</a></li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12" style="padding-top: 10px;">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <clients></clients>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
.nav-tabs li:first-child {
    margin-left: 10px;
}
</style>
