<template>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Settings
        </div>
        <div class="panel-body">
            <div class="row">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Organization</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Labels</a></li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12" style="padding-top: 10px;">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <organization></organization>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <tag-managements></tag-managements>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</template>

<script>

</script>

<style scoped>
.nav-tabs li:first-child {
    margin-left: 10px;
}
</style>
