<template>
	<div class="container">
		<div class="col-md-12 admin-title">
			<h3>Admin Settings</h3>
		</div>
		<div class="col-md-2">
			<div class="list-group">
			  <router-link to="/admin" class="list-group-item" exact><i class="fa fa-wrench fa-fw"></i> Settings</router-link>
			  <router-link to="/admin/accounts" class="list-group-item"><i class="fa fa-user fa-fw"></i> Users</li></router-link>
			   <!-- <router-link to="/admin/billing" class="list-group-item"><i class="fa fa-fw fa-credit-card"></i> Billing</li></router-link> -->
			   <router-link to="/admin/clients" class="list-group-item"><i class="fa fa-users fa-fw"></i> Clients</li></router-link>
			</div>
		</div>
		<div class="col-md-10">
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
	export default {

	}
</script>

<style scoped>
	.container {
		margin-top: 40px;
	}
	.admin-title h3 {
		margin-top: 0px !important;
		margin-bottom: 20px !important;
	}

	.list-group li,
	.list-group a {
		background-color: transparent;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: bold;
		border: none;
		color: rgba(144,164,174 ,1);
	}

	.list-group .fa {
		margin-right: 7px;
	}

	.list-group a:hover,
	.list-group a:focus {
		background: transparent !important;
		color: rgba(38,50,56 ,1);
	}

	.list-group a.active {
		color: rgba(38,50,56 ,1);
	}

	.list-group-rainy .list-group-item.active {
		backround: transparent !important;
	}
</style>
