<template>
	<div class="container fadeIn animated">
		<div class="col-md-12">
			<div class="ticket-list">
				<h4>Create New Ticket</h4>
			</div>
			<hr>
			<div class="panel panel-default">
				<form v-on:submit.prevent="saveTicket">
				<div class="panel-body">
					<div class="col-md-8">
						<div class="form-group">
						<label for="exampleInputEmail1">Subject / Title</label>
						<input type="text" class="form-control" id="ticket-subject" placeholder="Title" v-model="ticket.subject">
					  </div>
					  <div class="form-group">
						  <label for="body">Message</label>
						  <textarea name="body" class="form-control" rows="12" cols="40" placeholder="" v-model="ticket.body"></textarea>
					  </div>
					</div>
					<div class="col-md-4" style="border-left: 1px solid rgba(224,224,224 ,1)">
						<div class="form-group">
							<div class="row">
								<label for="inputEmail3" class="col-sm-12 control-label" style="text-align: left; margin-bottom: 10px;">
									Client
									<span class="notes">Leave blank if ticket belongs to you</span>
								</label>
								<div class="col-sm-12">
									<div>
										<multiselect v-model="ticket.owner.value" :options="ticket.owner.options" placeholder="Select client" label="name" track-by="id"></multiselect>
										</multiselect>
									</div>
								</div>
							</div>

						</div>
						<div class="form-group">
							<label for="status">Status</label>
							<select class="form-control" name="status" v-model="ticket.status" required>
								<option v-for="status in statuses" :value="status.key">
									{{ status.value }}
								</option>
							</select>
						</div>
						<div class="form-group">
							<div class="row">
								<label for="inputEmail3" class="col-sm-12 control-label" style="text-align: left; margin-bottom: 10px;">
									Assignees
									<span class="assign-to-me" @click="assignToMe">(Assign to me)</span>
								</label>
								<div class="col-sm-12">
									<div>
										<multiselect class="assignee" v-model="tagging.agents.value" :close-on-select="false" :clear-on-select="false" :hide-selected="true" :preserve-search="true" label="id" track-by="id" :options="tagging.agents.options" :option-height="104" :multiple="true" placeholder="Add assignees">
											<template slot="option" scope="props">
												<div class="option__desc"><span class="option__title">{{ props.option.name }}</span></div>
											</template><span slot="noResult">Oops! No agents found.</span>
											<template slot="tag" scope="props">
												<span class="multiselect__tag" style="">
													<span>{{ props.option.name }}</span>
													<span @click="props.remove(props.option)"><i aria-hidden="true" tabindex="1" class="multiselect__tag-icon"></i></span>
												</span>
											</template>
										</multiselect>
									</div>
								</div>
							</div>

						</div>
						<div class="form-group">
							<div class="row">
							<label for="inputEmail3" class="col-sm-12 control-label" style="text-align: left; margin-bottom: 10px;">Labels</label>
							<div class="col-sm-12">
								<div>
									<multiselect class="tagging" v-model="tagging.tags.value" :close-on-select="false" group-values="tags" group-label="group_name" :clear-on-select="false" :hide-selected="true" :preserve-search="true" :disabled="saveLoading" label="body" track-by="id" :options="tagging.tags.options" :option-height="104" :multiple="true" placeholder="Add labels">
										<template slot="option" scope="props">
											<div class="option__desc">
												<span class="option__title" v-if="!props.option.$isLabel"><i class="fa fa-fw fa-square" v-bind:style="{ color: props.option.background_color }"></i> {{ props.option.body }}</span>
												<span class="option__title" v-if="props.option.$isLabel">{{ props.option.$groupLabel }}</span>
											</div>
										</template><span slot="noResult">Oops! No labels found.</span>
										<template slot="tag" scope="props">
											<span class="multiselect__tag" v-bind:style="{ 'background-color': props.option.background_color }">
												<span v-bind:style="{ color: props.option.text_color }">{{ props.option.body }}</span>
												<span @click="props.remove(props.option)" v-bind:style="{ 'background-color': props.option.background_color, color: props.option.text_color, cursor: 'pointer' }"><i class="fa fa-fw fa-remove"></i></span>
											</span>
										</template>
									</multiselect>
								</div>
							</div>
							</div>

						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-success" v-html="buttonLoading" :disabled="saveLoading"></button>
					<span class="cancel-button"><a href="#" @click="(saveLoading) ? false : $router.go(-1)" :disabled="saveLoading">Cancel</a></span>
				</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	import Multiselect from 'vue-multiselect'
	import {endpoints, getHeaders, currentUser} from '../../config'

	export default {
		data () {
			return {
					saveLoading: false,
					buttonLoading: 'Create Ticket',
					ticket: {
						subject: '',
						body: '',
						status: 'open',
						priority: 1,
						owner: {
							value: null,
							options: []
						}
					},
					statuses: {},
					tagging: {
						tags: {
							value: [],
							options: []
						},
						agents: {
							value: [],
							options: [],
						}
					}
			}
		},
		components: { Multiselect },
		mounted() {
				this.fetchTags()
				this.fetchAgents()
				this.fetchStatuses()
				this.fetchClients()
		},
		methods: {
			fetchTags () {
				var self = this
				axios.get(endpoints.TagServices.fetchTagGroups+'/active', { headers: getHeaders() })
					.then(function (response) {
						self.tagging.tags.options = response.data.groups
					}).catch(function (errors) {
						console.log(errors)
					})
			},
			fetchAgents () {
				var self = this
				axios.get(endpoints.UserServices.getAgents, { headers: getHeaders() })
					.then(function (response) {
						self.tagging.agents.options = response.data.agents
					}).catch(function (errors) {
						console.log(errors);
					})
			},
			fetchStatuses () {
				var self = this
				axios.get(endpoints.StatusServices.getStatuses, { headers: getHeaders() })
					.then(function (response) {
						self.statuses = response.data.statuses
					}).catch(function (errors) {
						console.log(errors)
					})
			},
			fetchClients () {
				var self = this
				axios.get(endpoints.ClientServices.getClients, { headers: getHeaders() })
					.then(function (response) {
						self.ticket.owner.options = response.data.clients
					}).catch(function (errors) {
						console.log(errors)
					})
			},
			assignToMe () {
				var $agents = this.tagging.agents
				var exists = false;
				for (var index in $agents.value) {
					if ($agents.value[index].id == currentUser().id) {
						exists = true;
					}
				}
				if (exists == false) {
					for (var index in $agents.options) {
						if ($agents.options[index].id == currentUser().id) {
							$agents.value.push($agents.options[index]);
						}
					}
				}
			},
			toggleLoading () {
				this.saveLoading = (this.saveLoading) ? false : true;
				if (this.saveLoading) {
					this.buttonLoading = '<i class="fa fa-fw fa-spin fa-spinner"></i> Creating ticket...'
				} else {
					this.buttonLoading = 'Create ticket'
				}
			},
			saveTicket () {
				this.toggleLoading();
				var self = this
				axios.post(endpoints.TicketServices.postAddTicket, {
					subject: self.ticket.subject,
					body: self.ticket.body,
					status: self.ticket.status,
					priority: self.ticket.priority,
					assignees: self.tagging.agents.value,
					tags: self.tagging.tags.value,
					client: self.ticket.owner.value
				}, { headers: getHeaders() })
				.then(function (response) {

					self.$notify({
						message: "Ticket #"+response.data.ticket.id+" succesfully created.",
						type: 'success',
						horizontalAlign: 'center',
						verticalAlign: 'top'
					})

					setTimeout(function () {
						self.$router.push({ name: 'view-ticket', params: { id: response.data.ticket.id } });
					}, 2000);

				}).catch(function (errors) {
					self.$notify({
						message: "Ooops.. Error during ticket creation. Please try again.",
						type: 'danger',
						horizontalAlign: 'center',
						verticalAlign: 'top'
					})

					self.toggleLoading();
				})
			}
		}
	}
</script>

<style scoped>
	.cancel-button {
		margin-left: 20px;
	}

	.cancel-button a {
		color: rgba(117,117,117 ,1);
	}

	 .fix-margin-bottom {
	 	padding-bottom: 20px;
	 }

	 .multiselect__tag {
		font-weight: bold;
 		font-size: 10px;
		line-height: 13px;
	 }

	 .tagging .multiselect__tag {
	 	padding: 4px 6px 4px 10px !important;
	 }

	 .assignee .multiselect__tag {
 		margin-bottom: 4px !important;
 		background-color: rgba(97,97,97 ,1);
 		color: #FFF;
 		font-size: 10px;
 		font-weight: 600;
 		line-height: 13px;
 	}

	.assignee .multiselect__tag-icon:after {
		color: #FFF;
		font-size: 11px;
		font-weight: 600;
	}

	.assignee .multiselect__tag-icon:focus,
	.assignee .multiselect__tag-icon:hover {
		background: rgba(66,66,66 ,1);
	}

	.assign-to-me {
		font-size: 11px;
		float: right;
		line-height: 22px;
		vertical-align: middle;
		cursor: pointer;
		color: #0288D1;
	}

	.notes {
		font-size: 11px;
		float: right;
		line-height: 22px;
		vertical-align: middle;
		color: #BDBDBD;
		font-style: italic;
	}

	.assign-to-me:hover {
		text-decoration: underline;
	}

</style>
