body {
  min-height: 100%;
}

.container-fluid {
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.login-form {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.login-input-form {
  font-size: 12px;
}

.login-input-form .form-group label {
  text-transform: uppercase;
  font-size: 10px;
  color: #FFF;
}

.login-input-form .form-group input {
  background-color: rgba(245, 245, 245, 0.2) !important;
  color: #FFF;
}

.login-logo {
  width: 70px;
}
