.container-fluid {
	padding: 0 !important;
	min-height: 100%;
	background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
}

.login-form {
	text-align: center;
	// padding-top: 50px;
	padding-bottom: 30px;
}

.login-input-form {
	font-size: 12px;
}

.login-input-form .form-group label {
	text-transform: uppercase;
	font-size: 10px;
	color: rgba(120,144,156 ,1);
}

.login-input-form .form-group input {
	background-color: rgba(245,245,245 ,0.2) !important;
	color: rgba(84,110,122 ,1);
}

.login-logo {
	width: 70px;
}

.form-signin {
	background-color: rgba(0,0,0,0.15);
	border-radius: 4px;
	max-width: 330px;
	padding: 20px 15px 15px;
	margin: 0 auto;
}

.form-signin .checkbox,
.form-signin .form-signin-heading {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#a {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: table;
}

#b {
	display: table-cell;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

.btn {
	border: none;
	border-radius: 3px;
}
