/* Color Scheme (Logo) */

$color_one: #ff5599;
$color_two: #d40055;
$color_three: #550022;
$color_four: #ff80b2;
$color_five: #800033;
$navbar_background: #37474F;

html, body, .full-height {
	height: 100%;
}

/* Navigation Bar Styling */
.navbar,
.navbar .container,
.navbar .container .navbar-header,
.navbar .container .navbar-header a {
	height: 60px !important;
}

/* Logo Styling */

.logo {
	height: 100%;
	width: auto;
}

/* Top Navigation Bar */

.navbar {
	background: $navbar_background;
	border-bottom: 1px solid $navbar_background;
	margin-bottom: 0px;
}

.navbar .navbar-nav > li > a {
	min-height: 60px !important;
}

.navbar-default .navbar-nav > li > a {
	color: #FAFAFA;
}

.navbar .navbar-nav > li > a {
	line-height: 30px;
	font-size: 12px;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:active {
	color: #FFF !important;
}

.favored {
	color: rgba(253,216,53 ,1) !important;
}

.right-side-info {
	font-size: 12px;
}

/* company name */

@media (max-width: 767px) {
	.float-middle {
		display: none;
	}
}

.float-middle {
	position: absolute;
	right: 8%;
	top: 60px;
    background-color: #37474F;
    padding: 5px 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 10px;
    color: rgba(189,189,189 ,1);
}



/* seconday navbar */

.secondary-navbar {
	background-color: #78909C;
	padding-top: 10px;
	padding-bottom: 13px;
}

.secondary-menu a {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 600;
	margin-right: 10px;
	padding-bottom: 14px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFF;
}

.secondary-menu a.active {
	border-bottom: 4px solid #263238;
}

.secondary-menu .badge {
	margin-left: 5px;
	font-size: 10px;
}

ul.dropdown-menu-navbar > li > a {
	height: 35px;
	line-height: 2.5;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

ul.navbar-right > li.right-name.open > a {
	color: #FFF !important;
}
ul.dropdown-menu-navbar > li.active > a {
	color: #000 !important;
}

ul.dropdown-menu-navbar > li:last-child > a {
	border-bottom: 0;
}

ul.dropdown-menu-navbar {
	border-top: 0 !important;
}

.notification-icons {
	margin-top: 10px;
	background-color: #494949;
	width: 20px !important;
	height: 20px !important;
}

li.create-a-box > a {
	padding-left: 18px;
	padding-right: 18px;
}

li.create-a-box > a:hover,
li.create-a-box > a:active,
li.create-a-box > a:focus {
	color: #FFF !important;
}

.no-package-well {
	text-align:center;
}

.list-group-dp a.active {
	font-weight: bold;
}

.list-group-rainy .fa {
	margin-right: 10px;
}

.notification-rainy .badge {
	padding: 3px 4px !important;
	font-size: 10px;
	background: rgba(229,57,53 ,1) !important;
}

.navbar .dropdown.open > a {
	background: #424242 !important;
	color: #FFF !important;
}

.dropdown-sizing a {
	font-size: 12px;
}

.dropdown-sizing .dropdown-menu > li > a {
	padding: 3px 15px;
}

/* tickets */

.list-group-rainy .list-group-item.active,
.list-group-rainy .list-group-item.active:hover,
.list-group-rainy .list-group-item.active:focus {
	background-color: $navbar_background;
	border-color: $navbar_background;
}

.list-group-rainy {
	font-size: 12px;
}

/* Tickets */
.ticket-list {
	padding-top: 10px;
}
.ticket-list h3 {
	line-height: 0.1;
	margin-bottom: 20px;
}

@media (max-width: 769px) {
	.label-wrap {
		display: block;
	}

	.ticket-listing .ticket-number {
		display: none;
	}

	.panel-navbar > li .btn-group {
		font-size: 10px !important;
	}
}


/* table */
table.rainy-table th.sorting:after {
	margin-left: -3px !important;
}

table.rainy-table th > span {
	padding-right: 10px;
}

table.rainy-table th {
	background-color: #FFF !important;
}

.ticket-listing .list-group-item {
	padding: 13px 20px;

}

.ticket-listing .ticket-title {
	color: rgba(66,66,66 ,1) !important;
	font-size: 14px;
	font-weight: bold;
}
.ticket-listing .list-group-item-heading .ticket-title {
	color: #000;
	font-weight: bold;
	font-size: 16px;

	width: 100%
}

.ticket-listing .list-group-item-text {
	font-size: 10px;
	padding-left: 35px;
}

.ticket-listing .list-group-item:hover {
	background-color: rgba(250,250,250 ,1);
}

.ticket-listing .label {
	font-size: 8px;
}

.ticket-last-update {
	float: right;
	font-size: 10px;
	padding-top: 7px;
}

.ticket-title {
	min-width: 182px !important;
}

.ticket-title-view {
	color: rgba(66,66,66 ,1);
	font-weight: 600;
	display: block;
}

.title-col {
	padding-top: 5px;
}

.ticket-viewing .ticket-reply {
	height: 120px;
	padding-bottom: 76px;
}

.ticket-listing .label.label-danger {
	background-color: rgba(229,57,53 ,1);
}

.ticket-listing .ticket-number {
	position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
    padding-top: 13px;
    font-size: 14px;
    font-weight: 600;
}

.panel-heading-bg-color {
	background-color: rgba(232,234,246 ,1) !important;
}

.ticket-checkbox {
	margin-right: 18px !important;
}

.label-wrap > .badge {
	vertical-align: top;
	margin-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

/* panel navbar */
ul.panel-navbar {
	height: 7px;
	list-style-type: none;
}
.panel-navbar > li {
	float: right;
	font-size: 12px;
	font-weight: bold;
	color: rgba(117,117,117 ,1);
}

ul.panel-navbar .btn-none,
ul.panel-navbar .btn-none:focus {
	border: none;
	background: none
}

ul.panel-navbar .btn-group.open .dropdown-toggle {
	box-shadow: none;
}

ul.panel-navbar .dropdown-menu .dropdown-header {
	border-bottom: 1px solid #EEE;
}

/* New ticket listing */

.ticket-listing .cols-1,
.ticket-listing .cols-2,
.ticket-listing .cols-3 {
	float: left
}
.ticket-listing .cols-1 {
	width: 3%;
	min-width: 15px;
	height: 100%;
}

.ticket-listing .cols-2 {
	width: 80%;
}

@media (max-width: 767px) {
	.ticket-listing .cols-3 {
			border-top: 1px solid #EEE;
			padding-top: 5px;
			margin-top: 10px;
			width: 91% !important;
	}

	.ticket-listing .cols-2 {
		width: 95% !important;
		padding-left: 15px;
	}

	.fix-on-small {
		float: left;
		font-size: 12px !important;
	}
}


.ticket-listing .cols-3 {
	width: 15%;
	float: right;
}

.ticket-quick-info {
	font-size: 11px;
	color: rgba(117,117,117 ,1);
	margin-bottom: 0px;
}

.tag-lists {
	font-size: 10px;
	text-transform: uppercase;
}

/* scrollbar */

.scrollbar {
	float: left;
	height: 300px;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 5px;
}

.force-overflow {
	min-height: 450px;
}

#wrapper {
	text-align: center;
	margin: auto;
}

#style-11::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

#style-11::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

#style-11::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

#style-11::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to left, #22ADD4, #1E98BA);
}

/* conversation listing */

.conversation-listing .icon-left {
	width: 40px;
	float: left;
}

.conversation-listing .internal-discuss {
	background-color: rgba(250,250,250 ,1);
}

.conversation-listing .internal-discuss-text,
.conversation-listing .agent-name,
.conversation-listing .ticket-conversation-text {
	padding-left: 40px;
}

.conversation-listing .conversation-type {
	font-size: 10px;
	background-color: rgba(159,168,218 ,1);
	padding: 5px;
	font-weight: bold;
	color: #FFF;
	border-radius: 4px;
}

/* btn */

.btn-no-border {
	border: none;
}

/* attachment button */
.attachment-btn {
	float: right;
	padding-top: 7px;
	padding-right: 5px;
	font-size: 10px;
}

/* ticket viewing */
.ticket-viewing .agent-name {
	font-size: 10px;
	font-weight: 600;
	color: rgba(92,107,192 ,1);
}

.ticket-viewing .internal-discuss-text {
	padding-top: 10px;
	padding-bottom: 3px;
	font-size: 12px;
}

.conversation-listing .ticket-conversation-text {
	font-size: 12px;
	padding-bottom: 3px;
}

.fa-change-position {
	transform: scaleY(-1);
}

.info-notification {
	font-size: 12px;
	padding-top: 3px;
}

.text-info-ticket {
	padding-top: 7px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.ticket-information {
	font-size: 12px;
	border-bottom: 3px solid #d3e0e9 !important;
}

.searchable .dropdown-menu {
	z-index: 999;
}

@media (max-width: 768px) {
	.btn-back {
		display: none;
	}
}

.conversation-member-list .multiselect__single,
.conversation-member-list .multiselect__select {
	display: none;
	font-size: 12px;
}

.multiselect, .multiselect__input,
.multiselect__single {
	font-size: 11px !important;
	line-height: 18px !important;
	min-height: 18px !important;
}

.multiselect__input {
	margin-bottom: 0 !important;
}

.multiselect__tag {
	margin-right: 2px !important;
}

.conversation-member-list .multiselect__tag {
	background-color: rgba(224,224,224 ,1) !important;
	border: 1px solid #EEE;
	color: #444;
	font-size: 12px;
}

.multiselect__tag-icon {
	line-height: 18px !important;
}

.conversation-member-list {
	margin-bottom: 5px;
}

.tagging .multiselect__tags > .multiselect__input,
.tagging .multiselect__single,
.assignee .multiselect__tags > .multiselect__input,
.assignee .multiselect__single, {
   line-height: 18px !important;
   min-height: 18px !important;
   padding: 1px 0 9px 5px !important;
}

/* button round */

.btn-round-lg{
	border-radius: 22.5px;
}
.btn-round{
	border-radius: 17px;
}
.btn-round-sm{
	border-radius: 15px;
}
.btn-round-xs{
	border-radius: 11px;
	padding-left: 10px;
	padding-right: 10px;
}

.btn-bold {
	font-weight: 600;
}

.ql-container .ql-editor {
min-height: 20em;
padding-bottom: 1em;
max-height: 25em;
}

/* ticket */

.ticket-body p {
	margin: 5px 0 5px 0 !important;
}

/* attachment */

.add-files {
	padding: 10px !important;
}

.add-files:nth-child(odd) {
	background-color: #f3f3f3 !important;
}

.add-files:nth-child(even) {
	background-color: #EEE !important;
}

/* sweet alert */

.swal2-modal {
	font-family: "Muli", sans-serif !important;
}