<template>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

            <!-- Branding Image -->
            <router-link to="/" class="navbar-brand">
                <img src="/images/logo.svg" alt="" class="logo" v-tooltip:bottom="'Meow!'">
            </router-link>
                
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav left-navbar">
                <!-- <notification></notification> -->
                <!-- /dropdown -->
                <li class="dropdown dropdown-sizing">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							Tickets <i class="fa fa-fw fa-chevron-down"></i>
						</a>

                    <ul class="dropdown-menu dropdown-menu-navbar" role="menu">
                        <li>
                            <router-link to="/tickets/assigned"><i class="fa fa-fw fa-list"></i> Ticket List</router-link>
                        </li>
                        <li>
                            <router-link to="/tickets/create"><i class="fa fa-fw fa-plus"></i> New Ticket</router-link>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">
                <!-- Authentication Links -->
                <li><i class="fa fa-fw fa-sticky-note-o"></i></li>
                <li class="dropdown dropdown-sizing right-name">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							{{ user }} <i class="fa fa-fw fa-chevron-down"></i>
						</a>

                    <ul class="dropdown-menu dropdown-menu-navbar" role="menu">
                        <li>
                            <router-link to="/settings"><i class="fa fa-fw fa-user"></i> Profile</router-link>
                        </li>
                        <li>
                            <router-link to="/admin"><i class="fa fa-wrench fa-fw"></i> Admin Settings</router-link>
                        </li>
                        <li>
                            <a href="#" @click="logout">
								<i class="fa fa-fw fa-sign-out"></i> Logout
							</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
</template>


<script>
import {
    endpoints,
    getHeaders,
    dumpAuth,
    currentUser
} from '../../config'
export default {
    data() {
        return {
            route: this.$route.path,
            user: ''
        }
    },
    mounted() {
        this.getUsername()
    },
    methods: {
        logout: function() {
            var self = this
            axios.post(endpoints.auth.logout, {}, {
                    headers: getHeaders()
                })
                .then(function(response) {
                    self.$notify({
                        message: "Logging out..",
                        type: 'warning',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    dumpAuth();
                    setTimeout(function() {
                        window.location = '/login'
                    }, 1000)
                }).catch(function(errors) {
                    console.log(errors);
                })
        },
        getUsername: function() {
            if (currentUser() !== undefined)
                this.user = currentUser().name
        }
    }
}
</script>
