<template>
<div style="margin-top: 10px;">
    <div class="col-sm-12">
        <div class="input-group color-picker-component">

            <span class="input-group-addon color-picker-container"><span class="badge" v-bind:style="{ 'font-size': '9px', 'background-color': tag.background_color, color: tag.text_color }">{{ (tag.body) ? tag.body : 'New tag' }}</span>
            </span>

            <span class="input-group-addon color-picker-container" v-tooltip:top="'Background Color'"><span class="current-color"
				v-bind:style="{ 'background-color': tag.background_color }"
				@click="showPicker('bg')"
				></span>
            <chrome-picker :value="colorsBg" @input="updateValue('bg', $event)" v-if="displayPicker.bg"></chrome-picker>
            </span>

            <span class="input-group-addon color-picker-container" v-tooltip:top="'Text Color'"><span class="current-color"
				v-bind:style="{ 'background-color': tag.text_color }"
				@click="showPicker('text')"
				></span>
            <chrome-picker :value="colorsText" @input="updateValue('text', $event)" v-if="displayPicker.text"></chrome-picker>
            </span>

            <input type="text" class="form-control" placeholder="Label" v-model="tag.body">
            <span class="input-group-btn">
				<button class="btn btn-default" type="button" @click="addTag" :disabled="savingLabel">Save Label</button>
			</span>
        </div>
        <!-- /input-group -->
    </div>
</div>
</template>

<script>
import {
    endpoints,
    getHeaders
} from '../../../config'
import {
    Chrome
} from 'vue-color'

var defaultBg = {
    hex: '#000',
    hsl: {
        h: 150,
        s: 0.5,
        l: 0.2,
        a: 1
    },
    hsv: {
        h: 150,
        s: 0.66,
        v: 0.30,
        a: 1
    },
    rgba: {
        r: 25,
        g: 77,
        b: 51,
        a: 1
    },
    a: 1
}

var defaultText = {
    hex: '#fff',
    hsl: {
        h: 150,
        s: 0.5,
        l: 0.2,
        a: 1
    },
    hsv: {
        h: 150,
        s: 0.66,
        v: 0.30,
        a: 1
    },
    rgba: {
        r: 25,
        g: 77,
        b: 51,
        a: 1
    },
    a: 1
}

export default {
    props: {
        groupId: {
            type: Number
        }
    },
    data() {
        return {
            savingLabel: false,
            displayPicker: {
                text: false,
                bg: false
            },
            tag: {
                background_color: '#000',
                text_color: '#FFF',
                body: null
            },
            colorsBg: defaultBg,
            colorsText: defaultText
        }
    },
    components: {
        'chrome-picker': Chrome
    },
    methods: {
        fetchTags(id) {
            //axios.get()
            console.log('tahi')
        },
        updateValue(type, value) {
            if (type == 'text') {
                this.tag.text_color = value.hex
            } else {
                this.tag.background_color = value.hex
            }
        },
        showPicker(type) {
            if (type == 'text') {
                this.displayPicker.text = !this.displayPicker.text;
                this.displayPicker.bg = false;
            } else {
                this.displayPicker.bg = !this.displayPicker.bg;
                this.displayPicker.text = false;
            }
        },
        addTag() {
            // console.log(this.groupId);
            // return false;
            this.savingLabel = true;
            var self = this;
            axios.post(endpoints.TagServices.addTag, {
                    groupId: this.groupId,
                    body: this.tag.body,
                    text_color: this.tag.text_color,
                    background_color: this.tag.background_color
                }, {
                    headers: getHeaders()
                })
                .then(function(response) {
                    self.$store.dispatch('fetchTagGroups').tags
                    self.tag = {
                        background_color: '#000',
                        text_color: '#FFF',
                        body: null
                    }
                    self.$notify({
                        message: "Succesfully add new label.",
                        type: 'success',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    self.savingLabel = false;
                }).catch(function(errors) {
                    console.log(errors)
                    self.$notify({
                        message: "Ooops. Error during add new label.",
                        type: 'danger',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    self.savingLabel = false;
                })
        },
        colorString() {
            console.log(this.colorsBg.hex);
            return this.colorsBg.hex;
        }
    }
}
</script>

<style lang="scss">
.color-picker-component {
    .current-color {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: #000;
        cursor: pointer;
    }

    .vc-chrome {
        position: absolute;
        left: 0;
        top: calc(100% + 10px);
        z-index: 100;
    }
}
</style>
