<template>
<div>
    <i class="fa fa-fw fa-spin fa-bolt" v-if="isLoading"></i>
    <form v-if="!isLoading">
        <div class="form-group">
            <label for="inputEmail3" class="control-label">Organization / Company name</label>
            <input type="text" class="form-control" id="name" placeholder="Organization / Company name" v-model="org">
        </div>

        <hr>

        <div class="form-group">
            <label for="inputEmail3" class="control-label">Nickname</label>
            <input type="text" class="form-control" id="nickname" placeholder="Nickname" v-model="nickname">
            <span style="font-size: 12px;">* This nickname will be use as email sending name</span>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="control-label">Mailbox</label>
            <input type="text" class="form-control" id="mailbox" placeholder="Mailbox" v-model="mailbox" readonly>
            <span style="font-size: 12px;">* Redirect your current support email to this email.</span>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-sm btn-info" @click="putSettings" :disabled="isLoading">Save</button>
        </div>
    </form>
</div>
</template>

<script>
import {
    endpoints,
    getHeaders
} from '../../../config'

export default {
    data() {
        return {
            isLoading: false,
            org: '',
            nickname: '',
            mailbox: ''
        }
    },
    created() {
        this.fetchSettings()
    },
    watch: {
        '$route': 'fetchSettings'
    },
    methods: {
        fetchSettings() {
            var self = this
            this.isLoading = true
            axios.get(endpoints.SettingServices.getSettings, {
                headers: getHeaders()
            }).then((response) => {
                self.org = response.data.settings.org_name
                this.isLoading = false;
            }).catch((errors) => {
                this.isLoading = false;
            })
        },
        putSettings() {
            var self = this
            this.isLoading = true;
            axios.put(endpoints.SettingServices.putSettings, {
                params: {
                    org_name: self.org
                }
            }, {
                headers: getHeaders()
            }).then((response) => {
                self.isLoading = false;
                self.$notify({
                    message: "Succesfully update organization / company name.",
                    type: 'success',
                    horizontalAlign: 'center',
                    verticalAlign: 'top'
                })
            }).then(function(errors) {})
        }
    }
}
</script>
