<template>
<div class="col-sm-12">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 20px;"></th>
                <th>Label</th>
                <th style="width: 20px;">Active?</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="ctag in groupTags">
                <td>
                    <a href="" @click="deleteLabel(ctag.id, $event)"><i class="fa fa-fw fa-remove"></i></a>
                </td>
                <td>
                    <span class="badge" v-bind:style="{ 'font-size': '9px', 'background-color': ctag.background_color, color: ctag.text_color, 'margin-right': '3px' }">{{ ctag.body }}</span>
                </td>
                <td>
                    <input type="checkbox" @click="toggleLabel(ctag.id, $event)" :checked="ctag.active">
                </td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>
import {
    endpoints,
    getHeaders
} from '../../../config'

export default {
    data() {
        return {
            checkedTag: []
        }
    },
    props: {
        groupTags: {
            type: Array
        }
    },
    methods: {
        toggleLabel(id, e) {
            var self = this
            //console.log($(e.target).is(':checked'))
            //return false;
            axios.post(endpoints.TagServices.toggleTag, {
                    id: id
                }, {
                    headers: getHeaders()
                })
                .then((response) => {
                    // just do nothing as the
                })
                .catch((errors) => {
                    console.log(errors)
                    $(e.target).prop('checked', function(i, val) {
                        return !val;
                    })
                })
        },
        deleteLabel(id, $e) {
            $e.preventDefault()
            var self = this

            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#E91E63',
                cancelButtonColor: '#8BC34A',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: true
            }).then(function() {
                axios.delete(endpoints.TagServices.deleteLabel + '/' + id, {
                    headers: getHeaders()
                }).then((response) => {
                    self.$notify({
                        message: "Succesfully delete labels.",
                        type: 'success',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    self.$store.dispatch('fetchTagGroups').tags
                }).catch((errors) => {
                    self.$notify({
                        message: "Oops.. there's problem during delete labels.",
                        type: 'danger',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                })
            }, function(dismiss) {})
        }
    }
}
</script>
