<template>
<div>
<i class="fa fa-fw fa-spin fa-bolt" v-if="isLoading"></i>
<div v-if="!isLoading">
    <button class="btn btn-xs btn-info" style="margin-bottom: 5px;" @click="addLabelGroup"><i class="fa fa-fw fa-plus"></i> Add Label Group</button>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" v-for="group in groups">
            <div class="panel-heading">
                <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" v-bind:href="accordian(group.id)">
							{{ group.group_name }}</a>
							<a @click="deleteLabelGroup(group.id)" class="pull-right" v-tooltip:top="'Delete Label Group'"><i class="fa fa-fw fa-remove"></i></a>
						</h4>
            </div>
            <div v-bind:id="group.id" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <tagList :groupTags="group.tags"></tagList>
                    </div>
                    <div class="row">
                        <hr>
                        <div class="col-sm-12">
                            <b>Add Label</b>
                            <add-tag :groupId="group.id"></add-tag>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</template>

<script>
import {
    endpoints,
    getHeaders
} from '../../../config'

export default {
    data() {
        return {
            isLoading: false,
            checkedTag: []
        }
    },
    computed: {
        groups() {
            return this.$store.getters.tagGroups
        }
    },
    created() {
        this.$store.dispatch('fetchTagGroups').tags
    },
    watch: {
        '$route': "$store.dispatch('fetchTagGroups').tags"
    },
    methods: {
        accordian(id) {
            return '#' + id;
        },
        deleteLabelGroup(id) {
            var self = this

            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#E91E63',
                cancelButtonColor: '#8BC34A',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: true
            }).then(function() {
                axios.delete(endpoints.TagServices.deleteLabelGroup + '/' + id, {
                    headers: getHeaders()
                }).then((response) => {
                    self.$notify({
                        message: "Succesfully delete label group.",
                        type: 'success',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    self.$store.dispatch('fetchTagGroups').tags
                }).catch((errors) => {

                })
            }, function(dismiss) {})
        },
        addLabelGroup() {
            var self = this
            this.$swal({
                title: 'Add new label group',
                input: 'text',
                inputPlaceholder: 'Group name',
                showCancelButton: true,
                inputValidator: function(value) {
                    return new Promise(function(resolve, reject) {
                        if (value) {
                            resolve()
                            axios.post(endpoints.TagServices.addLabelGroup, {
                                group_name: value
                            }, {
                                headers: getHeaders()
                            }).then((response) => {
                                self.$notify({
                                    message: "Succesfully add new label group.",
                                    type: 'success',
                                    horizontalAlign: 'center',
                                    verticalAlign: 'top'
                                })
                                self.$store.dispatch('fetchTagGroups').tags

                            }).catch((errors) => {
                                self.$notify({
                                    message: "Oops. there's problem during adding new label group.",
                                    type: 'danger',
                                    horizontalAlign: 'center',
                                    verticalAlign: 'top'
                                })
                            })

                        } else {
                            reject('You need to write something!')
                        }
                    })
                }
            }).then(function(result) {})
        }
    }
}
</script>

<style scoped>

</style>
