<template>
<div>
<i class="fa fa-fw fa-spin fa-bolt" v-if="isLoading"></i>
<div v-if="!isLoading">
    <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false"><i class="fa fa-fw fa-plus"></i> Add Client</button>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Client Email</th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="client in clients">
                <td>
                    {{ client.name }}
                </td>
                <td>
                    {{ client.email }}
                </td>
                <td>
                    <button class="btn btn-xs btn-info" @click="toggleClient(client.id, client.active)" v-html="checkActivateOrDeactivate(client.active)"></button>
                    <button class="btn btn-xs btn-danger" @click="deleteClient(client.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <form v-on:submit.prevent="addClient">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add New Client</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Client Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" v-model="clientn.name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" v-model="clientn.email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</template>

<script>
import {
    endpoints,
    getHeaders
} from '../../../config'

export default {
    data() {
        return {
            isLoading: false,
            clients: [],
            clientn: {
                name: '',
                email: ''
            }
        }
    },
    mounted() {
        this.fetchClients()
    },
    methods: {
        checkActivateOrDeactivate(active) {
            return (active) ? 'Deactivate' : 'Activate'
        },
        fetchClients() {
            var self = this
            self.isLoading = true
            axios.get(endpoints.ClientServices.getClients, {
                headers: getHeaders()
            }).then((response) => {
                self.clients = response.data.clients
                self.isLoading = false
            }).catch((errors) => {
                self.isLoading = false
            })
        },
        toggleClient(id, active) {
            var self = this
            var text = (active) ? 'You won\'t see this user in client list!' : 'You will activate this client';
            this.$swal({
                title: 'Are you sure?',
                text: text,
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#E91E63',
                cancelButtonColor: '#8BC34A',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No, cancel!',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: true
            }).then(function() {
                axios.post(endpoints.ClientServices.toggleClient, {
                    id: id
                }, {
                    headers: getHeaders()
                }).then((response) => {
                    var $status = (response.data.client.active) ? 'activate' : 'deactivate';
                    self.$notify({
                        message: "Succesfully " + $status + " client.",
                        type: 'success',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    self.fetchClients()
                }).catch((errors) => {
                    console.log(errors)
                    self.$notify({
                        message: "Oops.. there's problem during toggle clients.",
                        type: 'danger',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                })
            }, function(dismiss) {})
        },
        deleteClient(id) {
            var self = this
            this.$swal({
                title: 'Are you sure?',
                text: 'You won\'t be able to recover this client data',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#E91E63',
                cancelButtonColor: '#8BC34A',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: true
            }).then(function() {
                axios.delete(endpoints.ClientServices.deleteClient + '/' + id, {
                    headers: getHeaders()
                }).then((response) => {
                    self.$notify({
                        message: "Succesfully delete client.",
                        type: 'success',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    self.fetchClients()
                }).catch((errors) => {
                    self.$notify({
                        message: "Oops.. there's problem during delete clients.",
                        type: 'danger',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                })
            }, function(dismiss) {})
        },
        addClient() {
            var self = this
            axios.post(endpoints.ClientServices.postClient, {
                email: self.clientn.email,
                name: self.clientn.name
            }, {
                headers: getHeaders()
            }).then((response) => {
                $('#myModal').modal('hide')
                self.clientn = {
                    name: '',
                    email: ''
                }
                self.$notify({
                    message: "Succesfully add new client.",
                    type: 'success',
                    horizontalAlign: 'center',
                    verticalAlign: 'top'
                })
                this.fetchClients()
            }).catch((errors) => {
                self.$notify({
                    message: errors.error.message,
                    type: 'danger',
                    horizontalAlign: 'center',
                    verticalAlign: 'top'
                })
            })
        }
    }
}
</script>
