<template>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Organization Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                </td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>
import {
    endpoints,
    getHeaders
} from '../../../config'

export default {
    data() {
        return {

        }
    },
    mounted() {

    },
    methods: {
        fetchOrganizations() {
            axios.get(endpoints.ClientServices.allOrganizations, {
                headers: getHeaders()
            }).then((response) => {

            }).catch((errors) => {

            })
        },

        fetchClients() {
            axios.get(endpoints.ClientServices.allClients, {
                headers: getHeaders()
            }).then((response) => {

            }).catch((errors) => {

            })
        }
    }
}
</script>
