<template>
	<div class="">

	<h4>Notification Settings</h4>
	<div class="panel">
		<div class="panel-body">
			<form class="form-horizontal">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" id="name" placeholder="Full name">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-6">
	      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
	    </div>
	  </div>

	  <hr>

	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Timezone</label>
	    <div class="col-sm-6">
	      <input type="email" class="form-control" id="inputEmail3" placeholder="">
	    </div>
	  </div>

	  <hr>

	  <div class="form-group">
	    <label for="password" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-6">
	      <input type="password" class="form-control" id="password" placeholder="New Password">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="confirmation" class="col-sm-2 control-label">Confirmation</label>
	    <div class="col-sm-6">
	      <input type="password" class="form-control" id="confirmation" placeholder="Confirm New Password">
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Save Profile</button>
	    </div>
	  </div>
	</form>
		</div>

	</div>

</div>
</template>

<script>
	export default {

	}
</script>
