<template>
<div class="">

    <h4>User Profile</h4>
    <div class="panel">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="name" placeholder="Full name" v-model="user.name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" v-model="user.email" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Signature</label>
                    <div class="col-sm-6">
                        <textarea name="signature" class="form-control" rows="5" v-model="user.profile.signature"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" @click="putProfile" :disabled="isLoading">Save Profile</button>
                    </div>
                </div>

                <hr>

                <!--div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Timezone</label>
	    <div class="col-sm-6">
	      <input type="email" class="form-control" id="inputEmail3" placeholder="" v-model="user.profile.timezone">
	    </div>
	  </div>

	  <hr -->

                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Current Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="password" placeholder="Current Password" v-model="password.current">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">New Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="password" placeholder="New Password" v-model="password.new">
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmation" class="col-sm-2 control-label">Password Confirmation</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="confirmation" placeholder="Confirm New Password" v-model="password.confirmation">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" @click="putPassword" :disabled="(isLoading) || (password.new && password.new != password.confirmation)">Change Password</button> <span style="margin-left: 10px;" v-if="password.new && password.new != password.confirmation">Password not match</span>
                    </div>
                </div>

            </form>
        </div>

    </div>

</div>
</template>

<script>
import {
    endpoints,
    getHeaders,
    dumpAuth
} from '../../config'

export default {
    data() {
        return {
            isLoading: false,
            notSame: false,
            user: {
                name: '',
                email: '',
                profile: {
                    signature: '',
                    timezone: ''
                }
            },
            password: {
                current: '',
                new: '',
                confirmation: ''
            }
        }
    },
    mounted() {
        this.getProfile()
    },
    methods: {
        enableSave() {
            if (this.isLoading) {
                return true;
            } else if ((this.password.new == this.password.confirmation) && (this.password.new != '' || this.password.confirmation != '')) {
                console.log(this.password.new)
                console.log(this.password.confirmation)
                return true;
            } else {
                return false;
            }
        },
        getProfile() {
            var self = this
            axios.get(endpoints.AccountServices.getProfile, {
                headers: getHeaders()
            }).then((response) => {
                self.user.name = response.data.user.name
                self.user.email = response.data.user.email
                if (response.data.user.profile) {
                    self.user.profile.signature = response.data.user.profile.signature
                    self.user.profile.timezone = response.data.user.profile.timezone
                }
            }).catch((errors) => {

            })
        },
        putPassword() {
            var self = this
            this.isLoading = true
            axios.put(endpoints.AccountServices.putPassword, self.password, {
                headers: getHeaders()
            }).then((response) => {
                self.isLoading = false
                self.$notify({
                    message: "Succesfully update password. Please re-login.",
                    type: 'success',
                    horizontalAlign: 'center',
                    verticalAlign: 'top'
                })
                self.password = {
                    current: '',
                    new: '',
                    confirmation: ''
                }
                dumpAuth();
                setTimeout(function() {
                    window.location = '/login'
                }, 1000)
            }).catch((errors) => {
                self.isLoading = false
                self.$notify({
                    message: "Oops. There's problem during updating your password.",
                    type: 'danger',
                    horizontalAlign: 'center',
                    verticalAlign: 'top'
                })
            })
        },
        putProfile() {
            var self = this
            this.isLoading = true
            axios.put(endpoints.AccountServices.putProfile, self.user, {
                headers: getHeaders()
            }).then((response) => {
                self.isLoading = false
                self.$notify({
                    message: "Succesfully update profile",
                    type: 'success',
                    horizontalAlign: 'center',
                    verticalAlign: 'top'
                })
            }).catch((errors) => {
                self.isLoading = false
                self.$notify({
                    message: "Oops. There's problem during updating your profile.",
                    type: 'danger',
                    horizontalAlign: 'center',
                    verticalAlign: 'top'
                })
            })
        }
    }
}
</script>
