<template>
	<div>
		<div class="ticket-list">
			<h3>My Assigned Tickets ssss</h3>
		</div>
		<div class="panel panel-default">
		<div class="panel-heading panel-heading-bg-color">
				<ul class="panel-navbar">
					<li>
						<div class="btn-group">
						<button class="btn-none dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort <i class="fa fa-fw fa-chevron-down"></i></button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li class="dropdown-header">Sort by</li>
						    <li><a href="#">Newest</a></li>
						    <li><a href="#">Oldest</a></li>
						  </ul>
						  </div>
					</li>
					<li>
						<div class="btn-group">
						<button class="btn-none dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Labels <i class="fa fa-fw fa-chevron-down"></i></button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li class="dropdown-header">Labelled</li>
						    <li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						  </ul>
						  </div>
					</li>
					<li>
						<div class="btn-group">
						<button class="btn-none dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assignee <i class="fa fa-fw fa-chevron-down"></i></button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li class="dropdown-header">Assigned to</li>
						    <li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						  </ul>
						  </div>
					</li>
				</ul>
			</div>
			<div class="list-group ticket-listing">
			  <div class="list-group-item">
			    <div class="list-group-item-heading">
			    	<input type="checkbox" class="ticket-checkbox">
			    	<router-link to="/tickets/view"><span class="ticket-title">Masalah Problem 23 sdf sdf  sdfsd sd f</span></router-link>
			    	<span class="label-wrap"><span class="label label-danger">High Priority</span> <span class="label label-warning">Bug</span></span>
			    </div>
			    <p class="list-group-item-text">Opened 19 days ago by Hakim Razalan &bull; Assigned to you & 1 agent</p>
			    <span class="ticket-number">#1234</span>
			  </div>
			  <div class="list-group-item">
			    <div class="list-group-item-heading">
			    <input type="checkbox" class="ticket-checkbox">
			    <a href="#"><span class="ticket-title">Masalah Problem</span></a> <span class="label label-danger">High Priority</span> <span class="label label-warning">Bug</span></div>
			    <p class="list-group-item-text">Opened 19 days ago by Hakim Razalan &bull; Assigned to you & 1 agent</p>
			    <span class="ticket-number">#5678</span>
			  </div>
			  <div class="list-group-item">
			    <div class="list-group-item-heading">
			    <input type="checkbox" class="ticket-checkbox">
			    <a href="#"><span class="ticket-title">Masalah Problem</span></a> <span class="label label-danger">High Priority</span> <span class="label label-warning">Bug</span></div>
			    <p class="list-group-item-text">Opened 19 days ago by Hakim Razalan &bull; Assigned to you & 1 agent</p>
			    <span class="ticket-number">#9101</span>
			  </div>
			  <div class="list-group-item">
			    <div class="list-group-item-heading">
			    <input type="checkbox" class="ticket-checkbox">
			    <a href="#"><span class="ticket-title">Masalah Problem</span></a> <span class="label label-danger">High Priority</span> <span class="label label-warning">Bug</span></div>
			    <p class="list-group-item-text">Opened 19 days ago by Hakim Razalan &bull; Assigned to you & 1 agent</p>
			    <span class="ticket-number">#1121</span>
			  </div>
			  <div class="list-group-item">
			    <div class="list-group-item-heading">
			    	<input type="checkbox" class="ticket-checkbox">
			    	<a href="#"><span class="ticket-title">Masalah Problem</span></a> <span class="label label-danger">High Priority</span> <span class="label label-warning">Bug</span></div>
			    <p class="list-group-item-text">Opened 19 days ago by Hakim Razalan &bull; Assigned to you & 1 agent</p>
			    <span class="ticket-number">#3141</span>
			  </div>
			  <div class="list-group-item">
			    <div class="list-group-item-heading">
			    <input type="checkbox" class="ticket-checkbox">
			    <a href="#"><span class="ticket-title">Masalah Problem</span></a> <span class="label label-danger">High Priority</span> <span class="label label-warning">Bug</span></div>
			    <p class="list-group-item-text">Opened 19 days ago by Hakim Razalan &bull; Assigned to you & 1 agent</p>
			    <span class="ticket-number">#5161</span>
			  </div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
	}
</script>
