<template>
<div class="fadeIn animated">
    <div class="ticket-list">
        <h4>Open Tickets</h4>
    </div>
    <div class="panel  panel-top">
        <div class="panel-body">
            <router-link :to="{ name: 'create-ticket', params: {} }" class="btn btn-sm btn-no-border btn-info pull-left"><i class="fa fa-fw fa-plus"></i>New Ticket</router-link>
        </div>
    </div>
    <hr>

    <div v-if="loading">
        <div style="text-align:center; padding: 15px;">
            <i class="fa fa-fw fa-spin fa-circle-o-notch"></i> Fetching tickets
        </div>
    </div>
    <div class="panel panel-default" v-if="!loading">
        <div class="list-group ticket-listing" v-if="tickets.length < 1">
            <div class="list-group-item" style="text-align:center; padding: 15px;">
                No ticket exists
            </div>
        </div>
        <div class="list-group ticket-listing">
            <div class="list-group-item" v-for="ticket in tickets">
                <div class="cols-1">
                    <input type="checkbox" class="ticket-checkbox">
                </div>
                <div class="cols-2">
                    <router-link :to="{ name: 'view-ticket', params: { id: ticket.id } }"><span class="ticket-title">{{ ticket.subject }}</span></router-link>
                    <span class="label-wrap">
							<span v-for="tag in ticket.tags" class="badge" v-bind:style="{ 'font-size': '9px', 'background-color': tag.background_color, color: tag.text_color, 'margin-right': '3px' }">{{ tag.body }}</span>
                    </span>
                    <p class="ticket-quick-info">#{{ ticket.id }} &bull; {{ moment().to(ticket.created_at) }} by <b>{{ (ticket.client) ? ticket.client.name : ticket.user.name }}</b></p>
                </div>

                <div class="cols-3" style="text-align: right;">
                    <div class="fix-on-small" style="font-size: 10px; color: rgba(158,158,158 ,1);">
                        {{ ticket.assignees_count }} {{ ticket.assignees_count | pluralize('assignee') }}
                    </div>
                    <div class="" style="font-size: 14px;">
                        <i class="fa fa-fw fa-comments"></i> {{ (ticket.replies_count.length > 0) ? ticket.replies_count[0].total-1 : 0 }}
                    </div>

                </div>
                <div class="clearfix">

                </div>
            </div>

        </div>
    </div>
</div>
</template>

<script>
import {
    endpoints,
    getHeaders
} from '../../../config'
import {
    pluralize
} from 'pluralize'
export default {
    data() {
        return {
            loading: false,
            errors: null,
            tickets: {}
        }
    },
    mounted() {
        this.fetchTicket()
    },
    methods: {
        fetchTicket() {
            var self = this;
            this.loading = true
            axios.get(endpoints.TicketServices.getTickets + '/open', {
                    headers: getHeaders()
                })
                .then(function(response) {
                    self.tickets = response.data.items
                    self.loading = false
                })
                .catch(function(error) {
                    self.loading = false
                    self.errors = 'Error fetching tickets'
                })
        }
    }
}
</script>
