<template>
	<div class="container-fluid">
		<div class="col-md-3">

			<ul class="list-group list-group-rainy">
			  <router-link to="/tickets/assigned" class="list-group-item"><i class="fa fa-crosshairs fa-fw"></i> My assigned tickets <span class="badge">42</span></router-link>
			  <router-link to="/tickets/open" class="list-group-item"><i class="fa fa-envelope-open fa-fw"></i> Open tickets<span class="badge">42</span></router-link>
			  <router-link to="/tickets/closed" class="list-group-item"><i class="fa fa-fw fa-envelope"></i> Closed tickets<span class="badge">42</span></router-link>
			  <router-link to="/tickets/all" class="list-group-item"><i class="fa fa-fw fa-list"></i> All tickets<span class="badge">42</span></router-link>
		  </ul>
		</div>
		<div class="col-md-9">
			<div v-if="this.$route.name != 'overview'">
				<router-view></router-view>
			</div>
			<div v-else>
				msamfmas
			</div>
		</div>
	</div>
</template>

<script>
	export default {

	}
</script>
