<template>
<div class="">

    <div style="text-align:center; padding-top: 5%;" v-if="isLoading">
        <i class="fa fa-fw fa-spin fa-circle-o-notch"></i> Fetching ticket #{{ $route.params.id }}
    </div>
    <div class="ticket-viewing fadeIn animated" v-if="!isLoading" style="margin-top: 10px;">
        <div class="col-md-12">
            <h3>
				<button type="button" onClick="window.history.back()" class="btn btn-sm btn-default btn-back" style="margin-right: 15px;"><i class="fa fa-long-arrow-left"></i></button>
				{{ ticket.subject }} <span class="ticket-number">#{{ ticket.id }}</span> <span class="label label-info" style="font-size: 10px; text-transform: capitalize !important;" v-html="checkStatus"></span>
			</h3>
            <hr>
        </div>
        <div class="col-md-8">
            <TicketReplies></TicketReplies>
        </div>
        <div class="col-md-4" style="padding-bottom: 25px;">
            <TicketDetails></TicketDetails>
        </div>
    </div>

</div>
</template>

<script>
import {
    endpoints,
    getHeaders
} from '../../../config'
import {
    mapGetters
} from 'vuex'

export default {
    data() {
        return {

        }
    },
    computed: {
        ticket() {
            return this.$store.getters.fullDetails
        },
        isLoading() {
            return this.$store.getters.isLoading
        },
        checkStatus() {
            if (this.ticket.status.value.toLowerCase().trim() == 'open') {
                return '<i class="fa fa-fw fa-exclamation-circle"></i> ' + this.ticket.status.value;
            } else if (this.ticket.status.value.toLowerCase().trim() == 'closed') {
                return '<i class="fa fa-fw fa-check"></i> ' + this.ticket.status.value;
            }
        }
    },
    created() {
        this.$store.dispatch('getTicket', {
            id: this.$route.params.id
        }).ticket
    },
    methods: {
        //
    }
}
</script>

<style scoped>
.ticket-number {
    color: #a3aab1;
    font-weight: normal;
    font-size: 14px;
}
</style>
