<template lang="html">
    <li class="dropdown dropdown-notifications">
        <a href="#notifications-panel" class="notification-rainy dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell fa-fw"></i><span class="badge">2</span>
            </a>

        <div class="dropdown-container">
            <div class="dropdown-toolbar">
                <h3 class="dropdown-toolbar-title"><b>Notifications (2)</b></h3>
            </div>
            <!-- /dropdown-toolbar -->

            <ul class="notifications">
                <li class="notification">
                    <div class="media">
                        <div class="media-left">
                            <div class="media-object">
                                <img src="/images/p_rainy.svg" class="img-circle notification-icons" alt="Name">
                            </div>
                        </div>
                        <div class="media-body">
                            <strong class="notification-title">New ticket (#1234) have been created</strong>
                            <div class="notification-meta">
                                <small class="timestamp" data-toggle="tooltip" data-placement="right" title="27. 11. 2015, 15:00">2 days ago</small>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="notification">
                    <div class="media">
                        <div class="media-left">
                            <div class="media-object">
                                <img src="/images/p_rainy.svg" class="img-circle notification-icons" alt="Name">
                            </div>
                        </div>
                        <div class="media-body">
                            <strong class="notification-title">Ticket #1234 has been assigned to you</strong>
                            <div class="notification-meta">
                                <small class="timestamp" data-toggle="tooltip" data-placement="right" title="27. 11. 2015, 15:00">1 days ago</small>
                            </div>

                        </div>
                    </div>
                </li>

            </ul>

            <div class="dropdown-footer text-center">
                <a href="#">View All</a>
            </div>
            <!-- /dropdown-footer -->

        </div>
        <!-- /dropdown-container -->
</li>

</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
