<template>
<div style="position: relative">
		<span v-show="!showInput" @click="toggleInput" class="add-comment">add comment</span>
		<span v-show="showInput">
            <b><a ref='btn' class="btn-margin" style="font-size: 16px; cursor: pointer;" @click = 'showEmoji = !showEmoji'>&#9786;</a></b>
            <div id="editor">
                <div  class="input form-control text-area-custom" @input="typing" ref="edit" contenteditable="true"  focus></div>
            </div>
            <vue-emoji
              v-show = 'showEmoji'
              ref="emoji"
              :captions="captions"
              :unicode='true'
              @select = 'hide()'
              @hide = 'hide()'
              style="bottom: 40px !important; right: 4px !important;"
            ></vue-emoji>
			<button class="btn btn-sm btn-default btn-margin" @click="addComment" :disabled="isLoading">
			<span v-if="!isLoading">Add Comment</span>
			<span v-if="isLoading"><i class="fa fa-fw fa-spin fa-spinner"></i> Adding Comment...</span>
			</button> <a href="#" class="btn btn-margin btn-cancel" v-on:click.prevent="toggleInput">Cancel</a>
		</span>
</div>
</template>

<script>
import {
    endpoints,
    getHeaders
} from '../../../../config'
import {
    quillEditor
} from 'vue-quill-editor'
import 'rui-vue-emoji/dist/vue-emoji.css';
import VueEmoji from 'rui-vue-emoji'

export default {
    props: {
        ticketReply: Number
    },
    components: {
        VueEmoji
    },
    mounted() {
        // console.log(this.$refs.edit)
        this.$refs.emoji.appendTo({
          area: this.$refs.edit,
          btn: this.$refs.btn,
          position: 'bottom right'
        });
    },
    computed: {
    tributeUsers: function() {
        return [
            {key: "Phil Heartman", value: "pheartman"},
          {key: "Gordon Ramsey", value: "gramsey"}
        ]
        },
    },
    data: function() {
        return {
            showEmoji: false,
            isLoading: false,
            showInput: false,
            comment: {
                body: ''
            },
            captions: ['Expressions', 'Nature', 'Goods', 'Location', 'Symbol']
        }
    },
    methods: {
        typing: function(el) {
          this.comment.body = el.target.innerHTML;
          console.log(el.target.innerHTML)
        },
        submit: function() {
          console.log("Submitting: ", this.msg);
        },
        hide () {
            this.comment.body = this.$refs.edit.innerHTML
            //this.typing(this.$refs.edit)
            this.showEmoji = false;
        },
        handleHide (e) {
          this.hide();
        },
        toggleInput() {
            this.showInput = !this.showInput;
        },
        addComment() {
            var self = this

            if (this.comment.body == null || this.comment.body == '') {
                self.$notify({
                    message: "Ooops. Please type your comment, don't leave it empty.",
                    type: 'danger',
                    horizontalAlign: 'center',
                    verticalAlign: 'top'
                })
                return false;
            }
            this.isLoading = true;
            axios.post(endpoints.TicketServices.Comments.postComment, {
                    body: self.comment.body,
                    id: this.ticketReply
                }, {
                    headers: getHeaders()
                })
                .then((response) => {
                    self.$store.dispatch('reloadReplies', {
                        id: this.$route.params.id
                    }).ticket
                    self.comment.body = ''
                    this.$refs.edit.innerHTML = ''
                    self.$notify({
                        message: "Comment Added.",
                        type: 'success',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    this.isLoading = false;
                }).catch((errors) => {
                    this.isLoading = false;
                    self.$notify({
                        message: "Ooops. Error during add comment.",
                        type: 'danger',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                })
        }
    }
}
</script>

<style scoped>
.add-comment {
    cursor: pointer;
}

.add-comment:hover {
    text-decoration: underline;
}

.btn-margin {
    margin-top: 4px;
}

.text-area-custom {
    padding-right: 8px;
    min-height: 100px;
    overflow-y: auto;
}

.btn-cancel {
    font-size: 12px;
}
</style>
