<template>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Ticket Details
        </div>
        <div class="panel-body">
            <div class="row form-horizontal" style="font-size: 11px;">
                <div class="col-md-12">

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Ticket</label>
                        <div class="col-sm-9 text-info-ticket">
                            #{{ ticket.id }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Source</label>
                        <div class="col-sm-9 text-info-ticket">
                            Email
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Owner</label>
                        <div class="col-sm-9 text-info-ticket">
                            {{ (ticket.user) ? ticket.user.name : ticket.client.name }}
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="status" style="text-align: left; margin-bottom: 10px;">Status</label>
                        <div class="col-md-12">
                            <select class="form-control" name="status" v-model="ticket.status.key" :readonly="updating.loading" required>
								<option v-for="status in statuses" :value="status.key" :selected="status === ticket.status">
									{{ status.value }}
								</option>
							</select>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-12 control-label" style="text-align: left; margin-bottom: 10px;">
								Assignees
								<span class="assign-to-me" @click="assignToMe">(Assign to me)</span>
							</label>
                        <div class="col-sm-12">
                            <multiselect class="assignee" v-model="tagging.agents.value" :options="tagging.agents.options" :close-on-select="false" :clear-on-select="false" :hide-selected="true" :preserve-search="true" :disabled="updating.loading" label="id" track-by="id" :option-height="104"
                                :multiple="true" placeholder="Add assignees">
                                <template slot="option" scope="props">
												<div class="option__desc"><span class="option__title">{{ props.option.name }}</span></div>
											</template><span slot="noResult">Oops! No agents found.</span>
                                <template slot="tag" scope="props">
												<span class="multiselect__tag" style="">
													<span>{{ props.option.name }}</span>
													<span @click="props.remove(props.option)"><i aria-hidden="true" tabindex="1" class="multiselect__tag-icon"></i></span>
												</span>
											</template>
                            </multiselect>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-12 control-label" style="text-align: left; margin-bottom: 10px;">Labels</label>
                        <div class="col-sm-12">
                            <div>
                                <multiselect class="tagging" v-model="tagging.tags.value" :close-on-select="false" group-values="tags" group-label="group_name" :clear-on-select="false" :hide-selected="true" :preserve-search="true" :disabled="updating.loading" label="body" track-by="id"
                                    :options="tagging.tags.options" :option-height="104" :multiple="true" placeholder="Add labels">
                                    <template slot="option" scope="props">
											<div class="option__desc">
												<span class="option__title" v-if="!props.option.$isLabel"><i class="fa fa-fw fa-square" v-bind:style="{ color: props.option.background_color }"></i> {{ props.option.body }}</span>
												<span class="option__title" v-if="props.option.$isLabel">{{ props.option.$groupLabel }}</span>
											</div>
										</template><span slot="noResult">Oops! No labels found.</span>
                                    <template slot="tag" scope="props">
											<span class="multiselect__tag" v-bind:style="{ 'background-color': props.option.background_color }">
												<span v-bind:style="{ color: props.option.text_color }">{{ props.option.body }}</span>
												<span @click="props.remove(props.option)" v-bind:style="{ 'background-color': props.option.background_color, color: props.option.text_color, cursor: 'pointer' }"><i class="fa fa-fw fa-remove"></i></span>
											</span>
										</template>
                                </multiselect>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-sm btn-success pull-right" @click="updateTicket" :disabled="updating.loading">{{ updating.text }}</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <button class="btn btn-sm btn-default btn-bold" @click="seeProp"><i class="fa fa-fw fa-eye"></i> Follow</button>
</div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import {
    endpoints,
    getHeaders,
    currentUser
} from '../../../../config'
export default {
    computed: {
        ticket() {
            this.tagging.tags.value = this.getTicketTags()
            this.tagging.agents.value = this.getTicketAgents()
            return this.$store.getters.fullDetails
        },
        status() {
            return this.$store.gettes.status
        }
    },
    data: function() {
        return {
            updating: {
                loading: false,
                text: 'Update ticket'
            },
            statuses: null,
            tagging: {
                tags: {
                    value: [],
                    options: []
                },
                agents: {
                    value: [],
                    options: [],
                }
            }
        }
    },
    created() {
        this.fetchTags()
        this.fetchAgents()
        this.fetchStatuses()
    },
    components: {
        Multiselect
    },
    methods: {
        customLabel({
            title,
            desc
        }) {
            return `${title} – ${desc}`
        },
        seeProp() {
            console.log(this.details)
        },
        toggleNowUpdate() {
            this.updating.loading = !this.updating.loading
            this.updating.text = (this.updating.loading) ? "Updating ticket..." : "Update ticket"
        },
        fetchTags() {
            var self = this
            axios.get(endpoints.TagServices.fetchTagGroups + '/active', {
                    headers: getHeaders()
                })
                .then(function(response) {
                    self.tagging.tags.options = response.data.groups
                }).catch(function(errors) {
                    console.log(errors)
                })
        },
        fetchAgents() {
            var self = this
            axios.get(endpoints.UserServices.getAgents, {
                    headers: getHeaders()
                })
                .then(function(response) {
                    self.tagging.agents.options = response.data.agents
                }).catch(function(errors) {
                    console.log(errors);
                })
        },
        fetchStatuses() {
            var self = this
            axios.get(endpoints.StatusServices.getStatuses, {
                    headers: getHeaders()
                })
                .then(function(response) {
                    self.statuses = response.data.statuses
                }).catch(function(errors) {
                    console.log(errors)
                })
        },
        getTicketAgents() {
            return this.$store.getters.agents
        },
        getTicketTags() {
            return this.$store.getters.tags
        },
        getTicketStatus() {
            return this.$store.getters.status
        },
        assignToMe() {
            var $agents = this.tagging.agents
            var exists = false;
            for (var index in $agents.value) {
                if ($agents.value[index].id == currentUser().id) {
                    exists = true;
                }
            }
            if (exists == false) {
                for (var index in $agents.options) {
                    if ($agents.options[index].id == currentUser().id) {
                        $agents.value.push($agents.options[index]);
                    }
                }
            }
        },
        updateTicket() {
            var self = this
            this.toggleNowUpdate()
            axios.put(endpoints.TicketServices.putTicket + "/" + this.ticket.id, {
                    status: this.ticket.status.key,
                    priority: this.ticket.priority,
                    tags: this.tagging.tags.value,
                    assignees: this.tagging.agents.value
                }, {
                    headers: getHeaders()
                })
                .then(function(response) {
                    self.toggleNowUpdate()
                    self.$notify({
                        message: "Succesfully update ticket.",
                        type: 'success',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    self.$store.dispatch('reloadDetails', {
                        id: self.ticket.id
                    }).ticket
                }).catch(function(errors) {
                    self.toggleNowUpdate()
                    self.$notify({
                        message: "Ooops. Error during updating ticket.",
                        type: 'danger',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                })
        }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style><style scoped>.assignee-list,
.tag-list {
    list-style-type: none;
    padding: 0;
    font-weight: 600;
}

.assignee-list li {
    line-height: 24px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.assignee-list li .assignee-name {
    background-color: rgba(238, 238, 238, 1);
    padding: 4px 8px;
}

hr {
    margin-bottom: 12px !important;
}

.form-group {
    margin-bottom: 0 !important;
}

.tag-list li {
    display: inline;
    padding: 4px 8px;
    line-height: 24px;
    vertical-align: middle;
    background: rgba(97, 97, 97, 1);
    color: #FFF;
    border-radius: 4px;
    font-size: 10px;
}

.custom__tag {
    background-color: rgba(97, 97, 97, 1);
    color: #FFF;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    margin-right: 3px;
}

.multiselect__tags>.multiselect__input,
.multiselect__single {
    line-height: 18px !important;
    min-height: 18px !important;
}

.multiselect__tag {
    margin-bottom: 4px !important;
    background-color: rgba(97, 97, 97, 1);
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    line-height: 13px;
}

.multiselect__tag-icon:after {
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
    background: rgba(66, 66, 66, 1);
}

.mention {
    color: rgba(41, 182, 246, 1);
    font-weight: bold;
}

.multiselect__tag {
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
}

.tagging .multiselect__tag {
    padding: 4px 6px 4px 10px !important;
}

.assignee .multiselect__tag {
    margin-bottom: 4px !important;
    background-color: rgba(97, 97, 97, 1);
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    line-height: 13px;
}

.assignee .multiselect__tag-icon:after {
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
}

.assignee .multiselect__tag-icon:focus,
.assignee .multiselect__tag-icon:hover {
    background: rgba(66, 66, 66, 1);
}

.assign-to-me {
    font-size: 11px;
    float: right;
    line-height: 22px;
    vertical-align: middle;
    cursor: pointer;
    color: #0288D1;
}

.notes {
    font-size: 11px;
    float: right;
    line-height: 22px;
    vertical-align: middle;
    color: #BDBDBD;
    font-style: italic;
}

.assign-to-me:hover {
    text-decoration: underline;
}
</style>
