<template>
<div>
    <div v-for="reply in ticket.replies" style="margin-bottom: 20px;">
        <div v-bind:class="checkOwner(ticket.user, ticket.client, reply.user, reply.client) ? 'panel-danger' : 'panel-success'" class="panel ticket-conversation">
            <inlineemail :reply="reply"></inlineemail>
            <!-- <div class="panel-body ticket-body" v-html="reply.body">
            </div>     -->
            
            <div class="panel-footer">
                <i class="fa fa-fw fa-user-circle"></i> <span class="post-by">{{ (reply.client) ? reply.client.name : reply.user.name }}</span> <span class="label label-default label-owner" v-show="checkOwner(ticket.user, ticket.client, reply.user, reply.client)">Owner</span>                posted <span class="date-time">{{ moment().to(reply.created_at) }}</span>
            </div>
        </div>
        <div class="comments">
            <ul>
                <li v-for="comment in reply.comments">
                    <span v-html="comment.body"></span> &#8211; <span class="comment-info"><span class="post-by">{{ comment.user.name }}</span> added <span class="date-time">{{ moment().to(comment.created_at) }}</span></span>
                </li>
                <li>
                    <addcomment :ticketReply="reply.id"></addcomment>
                </li>
            </ul>
        </div>
        <hr>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <quill-editor class="editor-example" ref="myTextEditor" :content="reply.body" :options="quillToolbar" @change="onEditorChange($event)"></quill-editor>
            <div class="clearfix"></div>
            <div style="padding-top: 20px;">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-sm btn-default" :disabled="sendReply" @click="postReply(0)"><i class="fa fa-fw fa-reply"></i> Reply ticket</button>
                </div>
            </div>

        </div>
    </div>
</div>
</template>

<script>
import {
    quillEditor
} from 'vue-quill-editor'
import {
    endpoints,
    getHeaders
} from '../../../../config'

export default {
    data() {
        return {
            sendReply: false,
            options: {
                url: '/upload',
                acceptedFiles: 'image/*,application/pdf',
                maxFilesize: 2,
                parallelUploads: 1,
                maxFile: 3,
                paramName: 'file'
            },
            reply: {
                body: '',
                file: []
            },
            quillToolbar: {
                theme: 'snow',
                placeholder: "Insert reply here ...",
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'], // toggled buttons
                        [{
                            'list': 'ordered'
                        }, {
                            'list': 'bullet'
                        }],
                        [{
                            'size': ['small', false, 'large', 'huge']
                        }], // custom dropdown
                        ['clean'] // remove formatting button
                    ]
                }
            }
        }
    },
    computed: {
        ticket() {
            return this.$store.getters.fullDetails
        },
        editor() {
            return this.$refs.myQuillEditor.quill
        }
    },
    components: {
        quillEditor
    },
    methods: {
        removeFile(file) {
            this.$refs.vc.removeFile(file)
        },
        checkOwner(user_owner, client_owner, user_reply, client_reply) {

            if (user_owner != null) {
                if (user_reply == null) return false
                if (user_reply.id == user_owner.id) return true;
            }

            if (client_owner != null) {
                if (client_reply == null) return false;
                if (client_reply.id == client_owner.id) return true;
            }

            return false
        },
        onEditorChange({
            editor,
            html,
            text
        }) {
            // console.log('editor change!', editor, html, text)
            this.reply.body = html
        },
        test() {
            console.log(this.$store.getters.tags)
        },
        postReply(type) {
            var self = this
            this.sendReply = true;
            axios.post(endpoints.TicketServices.postReply, {
                    internal: type,
                    body: self.reply.body,
                    id: this.$store.getters.id
                }, {
                    headers: getHeaders()
                })
                .then((response) => {
                    self.reply.body = ''
                    self.$store.dispatch('reloadReplies', {
                        id: this.$route.params.id
                    }).ticket
                    this.sendReply = false;
                }).catch((errors) => {
                    self.$notify({
                        message: "Ooops. Error during add reply.",
                        type: 'danger',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    this.sendReply = false;
                })
        }
    }
}
</script>

<style scoped>
.ticket-conversation .panel-footer {
    font-size: 12px;
}

.ticket-conversation .panel-footer .post-by {
    font-weight: 600;
}

.ticket-conversation .panel-footer .date-time {
    font-size: 12px;
}

.ticket-conversation .ticket-body {
    font-size: 12px;
}

.ticket-conversation {
    margin-bottom: 0px !important;
}

.panel-default {
    border-color: #ececec;
}

.ticket-info .panel-body {
    font-size: 12px;
}

.panel-info {
    background-color: rgba(236, 239, 241, 1);
    border: 0 !important;
    color: rgba(38, 50, 56, 1);
}

.panel-info .panel-body {
    padding: 10px !important;
}

.attachment {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.comments {
    padding-left: 30px;
}

.comments ul {
    list-style-type: none;
    padding: 0 0 0 10px;
}

.comments ul li {
    font-size: 12px;
    padding: 10px 5px 8px 22px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    border-left: 1px solid rgba(224, 224, 224, 1);
    border-bottom-left-radius: 4px;
}

.comments ul li:before {
    content: "\f075";
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -2.3em;
    /* same as padding-left set on li */
    margin-right: 10px;
    width: 1.3em;
    /* same as padding-left set on li */
}

.comments ul li:last-child:before {
    content: "";
}

.comments ul li:last-child {
    border-left: none;
    border-bottom: none;
    font-weight: bold;
    font-size: 11px;
    padding: 0 5px 0px 0px;
    color: rgba(189, 189, 189, 1);
}

.comment-info {
    color: rgba(158, 158, 158, 1);
}
</style>
