<template>
<div class="container-fluid">
    <div id="a">
        <div id="b" class="animated fadeIn">
            <div class="company-name">
                {{ organization_name }}
            </div>
            <form class="form-signin" method="POST" action="" v-on:submit.prevent="doLogin">
                <div class="login-form">
                    <img src="/images/logo.svg" class="login-logo animated jackInTheBox" alt="">
                </div>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" v-model="login.email" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" v-model="login.password" required>
                <div class="checkbox">
                    <label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block btn-login" v-html="loginText"></button>
            </form>
        </div>
    </div>
</div>
</template>

<script>
var countries = {
	AF: "Afghanistan",
	AX: "Åland Islands",
	AL: "Albania",
	DZ: "Algeria",
	AS: "American Samoa",
	AD: "Andorra",
	AO: "Angola",
	AI: "Anguilla",
	AQ: "Antarctica",
	AG: "Antigua & Barbuda",
	AR: "Argentina",
	AM: "Armenia",
	AW: "Aruba",
	AC: "Ascension Island",
	AU: "Australia",
	AT: "Austria",
	AZ: "Azerbaijan",
	BS: "Bahamas",
	BH: "Bahrain",
	BD: "Bangladesh",
	BB: "Barbados",
	BY: "Belarus",
	BE: "Belgium",
	BZ: "Belize",
	BJ: "Benin",
	BM: "Bermuda",
	BT: "Bhutan",
	BO: "Bolivia",
	BA: "Bosnia & Herzegovina",
	BW: "Botswana",
	BR: "Brazil",
	IO: "British Indian Ocean Territory",
	VG: "British Virgin Islands",
	BN: "Brunei",
	BG: "Bulgaria",
	BF: "Burkina Faso",
	BI: "Burundi",
	KH: "Cambodia",
	CM: "Cameroon",
	CA: "Canada",
	IC: "Canary Islands",
	CV: "Cape Verde",
	BQ: "Caribbean Netherlands",
	KY: "Cayman Islands",
	CF: "Central African Republic",
	EA: "Ceuta & Melilla",
	TD: "Chad",
	CL: "Chile",
	CN: "China",
	CX: "Christmas Island",
	CC: "Cocos (Keeling) Islands",
	CO: "Colombia",
	KM: "Comoros",
	CG: "Congo - Brazzaville",
	CD: "Congo - Kinshasa",
	CK: "Cook Islands",
	CR: "Costa Rica",
	CI: "Côte d’Ivoire",
	HR: "Croatia",
	CU: "Cuba",
	CW: "Curaçao",
	CY: "Cyprus",
	CZ: "Czech Republic",
	DK: "Denmark",
	DG: "Diego Garcia",
	DJ: "Djibouti",
	DM: "Dominica",
	DO: "Dominican Republic",
	EC: "Ecuador",
	EG: "Egypt",
	SV: "El Salvador",
	GQ: "Equatorial Guinea",
	ER: "Eritrea",
	EE: "Estonia",
	ET: "Ethiopia",
	FK: "Falkland Islands",
	FO: "Faroe Islands",
	FJ: "Fiji",
	FI: "Finland",
	FR: "France",
	GF: "French Guiana",
	PF: "French Polynesia",
	TF: "French Southern Territories",
	GA: "Gabon",
	GM: "Gambia",
	GE: "Georgia",
	DE: "Germany",
	GH: "Ghana",
	GI: "Gibraltar",
	GR: "Greece",
	GL: "Greenland",
	GD: "Grenada",
	GP: "Guadeloupe",
	GU: "Guam",
	GT: "Guatemala",
	GG: "Guernsey",
	GN: "Guinea",
	GW: "Guinea-Bissau",
	GY: "Guyana",
	HT: "Haiti",
	HN: "Honduras",
	HK: "Hong Kong SAR China",
	HU: "Hungary",
	IS: "Iceland",
	IN: "India",
	ID: "Indonesia",
	IR: "Iran",
	IQ: "Iraq",
	IE: "Ireland",
	IM: "Isle of Man",
	IL: "Israel",
	IT: "Italy",
	JM: "Jamaica",
	JP: "Japan",
	JE: "Jersey",
	JO: "Jordan",
	KZ: "Kazakhstan",
	KE: "Kenya",
	KI: "Kiribati",
	XK: "Kosovo",
	KW: "Kuwait",
	KG: "Kyrgyzstan",
	LA: "Laos",
	LV: "Latvia",
	LB: "Lebanon",
	LS: "Lesotho",
	LR: "Liberia",
	LY: "Libya",
	LI: "Liechtenstein",
	LT: "Lithuania",
	LU: "Luxembourg",
	MO: "Macau SAR China",
	MK: "Macedonia",
	MG: "Madagascar",
	MW: "Malawi",
	MY: "Malaysia",
	MV: "Maldives",
	ML: "Mali",
	MT: "Malta",
	MH: "Marshall Islands",
	MQ: "Martinique",
	MR: "Mauritania",
	MU: "Mauritius",
	YT: "Mayotte",
	MX: "Mexico",
	FM: "Micronesia",
	MD: "Moldova",
	MC: "Monaco",
	MN: "Mongolia",
	ME: "Montenegro",
	MS: "Montserrat",
	MA: "Morocco",
	MZ: "Mozambique",
	MM: "Myanmar (Burma)",
	NA: "Namibia",
	NR: "Nauru",
	NP: "Nepal",
	NL: "Netherlands",
	NC: "New Caledonia",
	NZ: "New Zealand",
	NI: "Nicaragua",
	NE: "Niger",
	NG: "Nigeria",
	NU: "Niue",
	NF: "Norfolk Island",
	KP: "North Korea",
	MP: "Northern Mariana Islands",
	NO: "Norway",
	OM: "Oman",
	PK: "Pakistan",
	PW: "Palau",
	PS: "Palestinian Territories",
	PA: "Panama",
	PG: "Papua New Guinea",
	PY: "Paraguay",
	PE: "Peru",
	PH: "Philippines",
	PN: "Pitcairn Islands",
	PL: "Poland",
	PT: "Portugal",
	PR: "Puerto Rico",
	QA: "Qatar",
	RE: "Réunion",
	RO: "Romania",
	RU: "Russia",
	RW: "Rwanda",
	WS: "Samoa",
	SM: "San Marino",
	ST: "São Tomé & Príncipe",
	SA: "Saudi Arabia",
	SN: "Senegal",
	RS: "Serbia",
	SC: "Seychelles",
	SL: "Sierra Leone",
	SG: "Singapore",
	SX: "Sint Maarten",
	SK: "Slovakia",
	SI: "Slovenia",
	SB: "Solomon Islands",
	SO: "Somalia",
	ZA: "South Africa",
	GS: "South Georgia & South Sandwich Islands",
	KR: "South Korea",
	SS: "South Sudan",
	ES: "Spain",
	LK: "Sri Lanka",
	BL: "St. Barthélemy",
	SH: "St. Helena",
	KN: "St. Kitts & Nevis",
	LC: "St. Lucia",
	MF: "St. Martin",
	PM: "St. Pierre & Miquelon",
	VC: "St. Vincent & Grenadines",
	SD: "Sudan",
	SR: "Suriname",
	SJ: "Svalbard & Jan Mayen",
	SZ: "Swaziland",
	SE: "Sweden",
	CH: "Switzerland",
	SY: "Syria",
	TW: "Taiwan",
	TJ: "Tajikistan",
	TZ: "Tanzania",
	TH: "Thailand",
	TL: "Timor-Leste",
	TG: "Togo",
	TK: "Tokelau",
	TO: "Tonga",
	TT: "Trinidad & Tobago",
	TA: "Tristan da Cunha",
	TN: "Tunisia",
	TR: "Turkey",
	TM: "Turkmenistan",
	TC: "Turks & Caicos Islands",
	TV: "Tuvalu",
	UM: "U.S. Outlying Islands",
	VI: "U.S. Virgin Islands",
	UG: "Uganda",
	UA: "Ukraine",
	AE: "United Arab Emirates",
	GB: "United Kingdom",
	US: "United States",
	UY: "Uruguay",
	UZ: "Uzbekistan",
	VU: "Vanuatu",
	VA: "Vatican City",
	VE: "Venezuela",
	VN: "Vietnam",
	WF: "Wallis & Futuna",
	EH: "Western Sahara",
	YE: "Yemen",
	ZM: "Zambia",
	ZW: "Zimbabwe"
}

import {
    endpoints,
    getHeaders,
    saveToken
} from '../../config'
export default {
    data() {
        return {
            loading: false,
            loginText: 'Sign In',
            login: {
                email: '',
                password: ''
            },
            countries: countries,
            organization_name: null
        }
    },
    mounted() {
        console.log('mounted');
        // fetch tenant informations
        this.fetchTenantInfo();
    },
    methods: {
        fetchTenantInfo () {
            var self = this
            axios.get(endpoints.TenantService.getInfo, {
                headers: {
                    tenant: window.Rainy.tenantName,
                }
            }).then((response) => {
                self.organization_name = response.data.org_name
            }).catch((errors) => {

            })
        },
        doLogin: function() {
            var self = this;
            this.toggleLogin()
            const postData = {
                email: this.login.email,
                password: this.login.password
            }
            axios.post(endpoints.auth.login, postData, {
                    headers: {
                        tenantId: window.Rainy.tenantId,
                        tenancyName: window.Rainy.tenantName
                    }
                })
                .then(function(response) {
                    self.$notify({
                        message: "Login success",
                        type: 'success',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    saveToken(response, window.Rainy.tenantId)
                    setTimeout(function() {
                        window.location = '/'
                    }, 1000)
                }).catch(function(error) {
                    console.log(self.loading)
                    self.toggleLogin()
                    self.$notify({
                        message: "Ooops.. Login failed",
                        type: 'danger',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                })
        },
        toggleLogin: function() {
            // now is loading
            if (this.loading) {
                $('.btn-login').prop('disabled', false)
                this.loginText = 'Sign In'
                this.loading = false
            } else {
                // not loading
                $('.btn-login').prop('disabled', true)
                this.loginText = '<i class="fa fa-spin fa-spinner"></i> Signing in...'
                this.loading = true
            }
        }
    }
}
</script>

<style scoped>
#app .container-fluid {

    padding-top: 40px;
    height: 100%;
}

.tenantName {
    color: rgba(144, 164, 174, 1);
    padding-top: 20px;
}

.d-title,
.d-value,
.tenantName {
    display: block;
    text-align: center;
}

.d-title {
    font-size: 12px;
}

.d-value {
    font-size: 32px;
    color: rgba(189, 189, 189, 1);
}

.d-unit {
    font-size: 18px;
}

.checkbox {
    text-align: left;
}
.company-name {
    margin-bottom: 15px;
    color: #FFF;
}
</style>
<style lang="sass-loader" src="../../../sass/login.scss" scoped></style>
<style src="../../../css/animate.css" scoped></style>
