<template>
<div class="container-fluid">
    <div id="a">
        <div id="b" class="animated fadeIn">
            <div class="company-name">
                {{ organization_name }}
            </div>
            <form class="form-signin" method="POST" action="" v-on:submit.prevent="doLogin">
                <div class="login-form">
                    <img src="/images/logo.svg" class="login-logo animated jackInTheBox" alt="">
                </div>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" v-model="login.email" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" v-model="login.password" required>
                <div class="checkbox">
                    <label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block btn-login" v-html="loginText"></button>
            </form>
        </div>
    </div>
</div>
</template>

<script>
import {
    endpoints,
    getHeaders,
    saveToken
} from '../../config'
export default {
    data() {
        return {
            loading: false,
            loginText: 'Sign In',
            login: {
                email: '',
                password: ''
            },
            countries: countries,
            organization_name: null
        }
    },
    mounted() {
        console.log('mounted');
        // fetch tenant informations
        this.fetchTenantInfo();
    },
    methods: {
        fetchTenantInfo () {
            var self = this
            axios.get(endpoints.TenantService.getInfo, {
                headers: {
                    tenant: window.Rainy.tenantName,
                }
            }).then((response) => {
                self.organization_name = response.data.org_name
            }).catch((errors) => {

            })
        },
        doLogin: function() {
            var self = this;
            this.toggleLogin()
            const postData = {
                email: this.login.email,
                password: this.login.password
            }
            axios.post(endpoints.auth.login, postData, {
                    headers: {
                        tenantId: window.Rainy.tenantId,
                        tenancyName: window.Rainy.tenantName
                    }
                })
                .then(function(response) {
                    self.$notify({
                        message: "Login success",
                        type: 'success',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                    saveToken(response, window.Rainy.tenantId)
                    setTimeout(function() {
                        window.location = '/'
                    }, 1000)
                }).catch(function(error) {
                    console.log(self.loading)
                    self.toggleLogin()
                    self.$notify({
                        message: "Ooops.. Login failed",
                        type: 'danger',
                        horizontalAlign: 'center',
                        verticalAlign: 'top'
                    })
                })
        },
        toggleLogin: function() {
            // now is loading
            if (this.loading) {
                $('.btn-login').prop('disabled', false)
                this.loginText = 'Sign In'
                this.loading = false
            } else {
                // not loading
                $('.btn-login').prop('disabled', true)
                this.loginText = '<i class="fa fa-spin fa-spinner"></i> Signing in...'
                this.loading = true
            }
        }
    }
}
</script>

<style scoped>
#app .container-fluid {

    padding-top: 40px;
    height: 100%;
}

.tenantName {
    color: rgba(144, 164, 174, 1);
    padding-top: 20px;
}

.d-title,
.d-value,
.tenantName {
    display: block;
    text-align: center;
}

.d-title {
    font-size: 12px;
}

.d-value {
    font-size: 32px;
    color: rgba(189, 189, 189, 1);
}

.d-unit {
    font-size: 18px;
}

.checkbox {
    text-align: left;
}
.company-name {
    margin-bottom: 15px;
    color: #FFF;
}
</style>
<style lang="sass-loader" src="../../../sass/login.scss" scoped></style>
<style src="../../../css/animate.css" scoped></style>
